{% extends 'baselogin.html' %}

{% block title %} Login {% endblock %}
{% block content %}


    <div class="container-form sign-in">
        <form class="formulario">
            <h2 class="create-account">Iniciar Sesion</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            
              <input type="text" placeholder="Email">
              <input type="password" placeholder="Password">

              <!-- 🔗 Link de "Olvidaste tu contraseña" -->
              <a href="/forgot-password" class="forgot-link">¿Olvidaste tu contraseña?</a>

              <!-- Botones -->
              <button type="submit">Iniciar Sesión</button>
              <a href="{{ url_for('autenticar.registro') }}" class="btn-link">Registrarse</a>


            </form>

    </div>

{% include 'alerts.html' %}

{% endblock %}