{% extends 'baselogin.html' %}

{% block title %} Registrate {% endblock %}
{% block content %}

     <div class="container-form sign-up">
        <form class="formulario">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-linkedin' ></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crear una cuenta gratis</p>

            <div class="form-grid">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">

                <input type="tel" placeholder="Teléfono">
                <input type="email" placeholder="Correo electrónico">

                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmar contraseña">
            </div>
             <a href="{{ url_for('autenticar.registro') }}" class="btn-link">Registrate</a>

        </form>
    </div>


{% endblock %}